 body {
  /* min-height: 100vh; */
  font-family: 'Khand Medium', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFDDD2;
  /* overflow: hidden;
  position: sticky;    */
}



header {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 2em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
  padding: 1em;
}

.product-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 5%;
  height: 290px;
}


.gallery-container {
  display: flex; 
  justify-content: space-around; 
  min-height: 100vh;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
  text-align: center;
  height: 200px;
  margin-inline: 10px;
  position: relative;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  cursor: pointer;
}

#loading-gif {
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.additional-gif {
  display: block;
  position: absolute;
  top: 50%;
  height: 100px;
  width: 100px;
}

.additional-gif1 {
  zoom: 60%;
  position: absolute;
  left: 76px;
  top: 242px;
}

.additional-gif2 {
  zoom: 60%;
  position: absolute;
  right: 61px;
  top: 248px;
  transform: translate(-50%, -50%);
  transform: scaleX(-1);
}

.product-info {
  flex-grow: 1;
  height: 100%;
  background-color: #FFDDD2;
}

h2 {
  max-width: 200px;
  font-size: 1rem;
  color: #006D77;
  font-family: 'Khand Medium', sans-serif;
}

p {
  font-size: 0.9rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  max-width: 200px;
  max-height: 200px;
  background-color: #FFDDD2;
  margin-bottom: 110px;
  margin-top: 190px;
}

.heart-button.filled {
  color: #E29578;
  font-size: 32px;
  background-color: #FFDDD2;
}

.heart-button,
.plus-button,
.cart-button,
.wishlist-button {
  font-size: 18px;
  cursor: pointer;
  border: transparent;
  background-color: #FFDDD2;
}

.plus-button:hover,
.cart-button:hover,
.wishlist-button:hover {
  color: #83C5BE;
}

.pagination {
  text-align: center;
  position: absolute;
  bottom: 9vh;
  left: 36.5rem;
}

button {
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
}

#prevPageBtn,
#nextPageBtn {
  background-color: #006D77;
  color: white;
  border: #000;
  border-radius: 50%;
}

#currentPage {
  margin: 0 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Khand', sans-serif;

}




header {
  background-color: #006d77;
}
.brand-name {
  font-size: 3rem;
}

.container-fluid {
  background-color: #006d77;
  justify-content: flex-end;
}
.navbar-brandt {
  font-size: 2rem;
}
/* Cambiar el tamaño de la fuente del texto de la barra de navegación */
.navbar a.navbar-brand,
.navbar a.nav-link {
  font-size: 1rem; /* Tamaño de fuente personalizado */
  color:#edf6f9;
  
}
.navbar-brandt{
  text-decoration: none;
  color: white;
}

.navbar-nav {
  margin-left: 1rem;
}

.nav-icons {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  
}


/* Agrega estos estilos a tu archivo CSS existente */

/* Estilos para el enlace de la barra de navegación */
.navbar-brand:hover,
.navbar-nav .nav-item .nav-link:hover {
  color: #E29578; /* Cambia el color al pasar el cursor */
}


/* Estilos footer */

.footer-links a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}

.social-links a {
  color: #fff;
  font-size: 2rem;
  margin-right: 10px;
  text-decoration: none;
}

.social-links i {
  vertical-align: middle;
}

/* Agrega estilos adicionales según sea necesario */
/* Agrega estos estilos a tu archivo CSS existente */

.footer-links a:hover,
.nav-icons a:hover,
.social-links a:hover {
  color: #E29578; /* Cambia el color al pasar el cursor */
}

.footer-links a,
.social-links a {
  transition: color 0.3s ease; /* Agrega una transición suave para un efecto más agradable */
}

/* Agrega estilos adicionales según sea necesario */

/* CArrito */

#terminarCompraBtn, #vaciarCarritoBtn{
  background-color: #83C5BE;
    display: block;
    width: 20%;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: none;

}

.total-botones{
    display: flex; 
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.productos-botones{
  display: flex;
  margin-bottom: 90px;
}

.container-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  margin-bottom: 18%;
}

.productos-botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.productos {
  margin-bottom: 5%;
}

.total-botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  margin-top: 7%;
}

#terminarCompraBtn,
#vaciarCarritoBtn {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}