/* Estilos gerenales */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Khand", Helvetica;
}

/* HEADER */

header {
  background: #006d77;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  /* Centra horizontalmente el contenido */
  justify-content: space-between;
  position: relative;
  height: 8.2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* Espaciado interno entre elementos */
}

nav a {
  text-decoration: none;
  /* Elimina el subrayado de los enlaces */
  color: #fff;
  /* Color del texto de los enlaces */
  font-size: 1.7rem;
  /* Tamaño fuente */
  font-weight: bolder;
  /*Grosor de la fuente (Negrita, etc)*/
}

ul {
  justify-content: center;
  list-style: none;
  display: flex;
  gap: 20px;
  /* Espacio entre elementos de la lista */
  flex: 6;
  /* Toma la parte central del espacio disponible */
  align-items: center;
  /* Alinea verticalmente los elementos de texto con el contenido del primer li (imagen) */
}

li {
  margin: 0;
  padding: 0;
}

.title-container {
  flex: 3;
  /* Toma la primera parte del espacio disponible */
}

h1 {
  font-size: 3.2rem;
}

.logo {
  width: 6rem;
  /* Ajusta el tamaño del logotipo según tus necesidades */
  height: auto;
  color: white;
  font-size: 5rem;
}

i {
  color: white;
  z-index: 2;
}

.icons-container {
  flex: 3;
  /* Toma la tercera parte del espacio disponible */
  text-align: center;
  /* Alinea los íconos a la derecha */
}

.show {
  display: none;
}

.icons {
  font-size: 1.6rem;
  margin-left: 30px;
}

/*Cierre de Header*/

/* Div Seccion 1 */
.section-carrito {
  width: 80%;
  border-bottom: 3px solid rgba(232, 170, 147, 1);
  margin: auto;
  margin-bottom: 5em;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 3em;
}

.section-carrito i {
  font-size: 2.5rem;
}

.section-carrito p {
  color: black;
  font-size: 2.25rem;
  font-family: Khand;
  font-weight: 500;
  word-wrap: break-word;
}

/*Cierre de section carrito*/

/* section-productos */

.section-productos {
  display: flex;
  margin: auto;
  width: 80%;
}

.limpiador-dia {
  display: flex;
}

.img-limpiador-dia {
  display: flex;
  width: 40%;
  justify-content: center;
}

.img-product-1 {
  width: 6rem;
  height: 11.6rem;
}

.texto-limpiador-dia {
  overflow: hidden;
}

#texto-h1-limpiador-dia {
  color: black;
  font-size: 1.875rem;
  font-weight: 400;
  word-wrap: break-word;
}

#span-precio-limpiador-dia {
  margin-left: 2rem;
}

#texto-p-limpiador-dia {
  color: black;
  font-size: 0.75rem;
  font-weight: 400;
  word-wrap: break-word;
  margin-top: 1rem;
}

.i-limpiador-dia {
  padding-left: 15%;
}

.i-limpiador-dia i {
  font-size: 2.5rem;
  color: #006d77;
  padding-right: 1rem;
  padding-top: 1rem;
}

.btn-cantidad-producto-dia {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 11.25rem;
  height: 3rem;
  background: white;
  border-radius: 1.563rem;
  border: 0.125rem #006d77 solid;
  margin-top: 1.5rem;
  margin-left: auto;
  padding: 0.625rem;
}

.btn-cantidad-producto-dia p {
  color: black;
  font-size: 1.563rem;
  font-weight: 400;
  word-wrap: break-word;
}

#input-payment-method {
  width: 18rem;
  height: 6.3rem;
  border-radius: 6.25rem;
  font-size: 3.7rem;
  font-weight: 400;
  margin-right: 180rem;
}

/* Aside Limpiador de noche */
.limpiador-noche {
  margin-top: 5rem;
  display: flex;
}

.img-limpiador-noche {
  display: flex;
  width: 40%;
  justify-content: center;
}

.img-product-2 {
  width: 11.7rem;
  height: 9rem;
}

.texto-limpiador-noche {
  overflow: hidden;
}

#texto-h1-limpiador-noche {
  color: black;
  font-size: 1.875rem;
  font-weight: 400;
  word-wrap: break-word;
}

#span-precio-limpiador-noche {
  margin-left: 2rem;
}

#texto-p-limpiador-noche {
  color: black;
  font-size: 0.75rem;
  font-weight: 400;
  word-wrap: break-word;
  margin-top: 1rem;
}

.i-limpiador-noche {
  padding-left: 15%;
}

.i-limpiador-noche i {
  font-size: 2.5rem;
  color: #006d77;
  padding-right: 1rem;
  padding-top: 1rem;
}

.btn-cantidad-producto-noche {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 11.25rem;
  height: 3rem;
  background: white;
  border-radius: 1.563rem;
  border: 0.125rem #006d77 solid;
  margin-top: 1.5rem;
  margin-left: auto;
  padding: 0.625rem;
}

.btn-cantidad-producto-noche p {
  color: black;
  font-size: 1.563rem;
  font-weight: 400;
  word-wrap: break-word;
}

/*Cierre articulos de noche*/

/*Section codigo promocional*/

.form-codigo-promocional {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
}

#input-codigo-promocional {
  display: flex;
  width: 34.813rem;
  height: 3.125rem;
  padding: 10px 390px 10px 13px;
  align-items: center;
  border: 0.063rem solid #dac4c4;
  background: #fff;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.input-btn-codigo-promocional {
  width: 12.365rem;
  height: 3.063rem;
  border-radius: 1.563rem;
  background: #006d77;
  border: none;
  justify-content: center;
  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

#hr-divisor {
  border-left: 0.25rem solid rgba(232, 170, 147, 1);
  height: 34.375rem;
}

/*Cierrre codigo promocional*/

/*Article-total-a-pagar*/

.article-total-a-pagar {
  width: 33.75rem;
  height: 37.5rem;
}

#section-total-a-pagar {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  margin-right: 2.625rem;
  margin-left: 3.938rem;
}

#total-a-pagar-h2 {
  color: #000;
  display: flex;
  justify-content: center;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  margin-bottom: 0.5rem;
}

.total-a-pagar-p {
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 2.5;
  text-align: justify;
  align-content: space-between;
  width: 100%;
}

#section-total-a-pagar .total-a-pagar-p span {
  float: right;
}

#total-pagar-transporte {
  border-bottom: 2px solid black;
}

/*Cierre total a pagar*/

#hr-divisor-2 {
  border-bottom: 0.25rem solid rgba(232, 170, 147, 1);
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

/*Inicio payment method*/
.section-payment-method {
  height: 40rem;
  margin-left: 5rem;
  margin-top: 7rem;
}

.form-payment-method {
  display: flex;
  flex-direction: column;
}

.form-payment-method div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.form-payment-method div figure {
  margin-left: 5rem;
}

.form-payment-method div input {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.form-payment-method div label {
  color: #000;
  text-align: justify;
  font-size: 36px;
  font-weight: 500;
}

#input-payment-method {
  margin-top: 3rem;
  margin-left: 40rem;
}
/* ----------------- ESTILOS MENU HAMBURGUESA ----------------- */
.hidden-container {
  position: relative;
}

.hidden-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 109, 119, 0.9); /* Fondo semi-transparente */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999; /* Ajusta el índice z para asegurarte de que esté por encima de otros elementos */
}

.hidden-list li {
  padding: 20px;
  text-align: center;
  font-size: 1.5em; /* Aumenta el tamaño de la fuente en un 50% */
  font-weight: bold; /* Aumenta el grosor de la fuente */
  position: relative;
  color: #fff; /* Color del texto */
}

.hidden-list li:hover {
  background: linear-gradient(to bottom, rgba(226, 149, 120, 0.9), rgba(226, 149, 120, 0.6));
}

.hidden-list li::before,
.hidden-list li::after {
  content: "";
  position: absolute;
  height: 5px; /* Grosor de las líneas de sombra */
  background-color: rgba(226, 149, 120, 0.5); /* Color semi-transparente basado en #e29578 para las sombras chulas */
  width: calc(100% + 40px); /* Ancho ajustado para extenderse más allá del contenido del li */
  left: -20px; /* Desplaza a la izquierda la mitad del ancho adicional */
}

.hidden-list li::before {
  top: 0;
}

.hidden-list li::after {
  bottom: 0;
}

.show:hover {
  cursor: pointer;
  background-color: #83C5BE;
  padding: 10px;
  border-radius: 10px;
}
/* ----------------- FINAL ESTILOS MENU HAMBURGUESA ----------------- */

/* ----------------- FOOTER ----------------- */


footer {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background: #006d77;
}

.left-div {
  width: 40%;
  font-size: large;
  color: #fff;
  padding: 50px;
}

.right-div {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-between;
}

.input-container {
  margin-bottom: 10px;
  padding: 10px;
  font-size: x-large;
  font-weight: bolder;
  margin: 50px;
}

label {
  display: block;
}

input {
  width: 80%;
  height: 37px;
}

button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-bottom: 10px;
}

.social-media-icons {
  font-size: 3em;
  margin-left: 60%;
  margin-bottom: 30px;
}

/* 
/* Fin del footer */

/* MEDIA QUERY RESPONSIVE*/

@media only screen and (max-width: 1023px) {

  /* Header */
  .show {
    display: block;
    font-size: xx-large;
  }

  .icons-container {
    display: none;
  }

  ul {
    display: none;
  }

  .logo-container {
    position: absolute;
    margin-left: 10px;
    margin-top: 50px;
  }

  /* Section productos */
  .section-productos {
    display: flex;
    flex-direction: column;
  }

  #hr-divisor {
    display: none;
  }

  .article-total-a-pagar {
    width: 100%;
    height: 100%;
    margin-top: 60px;
    border-top: 0.25rem solid rgba(232, 170, 147, 1);
  }

  /* Section paymenth method*/

  .section-payment-method {
    text-align: center;
    /* Centra el contenido en la tablet */
  }

  .form-payment-method {
    max-width: 80%;
    /* Establece un ancho máximo para el formulario */
    margin: 0 auto;
    /* Centra el formulario dentro de la sección */
  }

  /* Estilos específicos para los elementos dentro del formulario */
  .form-payment-method div {
    margin-bottom: 10px;
    /* Añade espacio entre los elementos */
  }

  #img-payment-methods {
    max-width: 100%;
    /* Ajusta el tamaño de la imagen al 100% del contenedor */
    height: auto;
    /* Mantiene la proporción original de la imagen */
  }

  #input-payment-method {
    width: 12rem;
    height: 5rem;
    font-size: 40px;
    margin: auto;
    margin-top: 5rem;
  }

  .input-btn-codigo-promocional {
    margin-left: 2rem;
  }

  .form-payment-method div figure {
    margin-left: 40px;
  }

  .social-media-icons {
    font-size: 2em;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  
  .left-div p {
    font-size: 1rem;
  }
}


